*{
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    /*border: 1px solid red;*/
}

html{
    border-top: 100px solid #A1A1A1;
}

div{
    padding: 5vh 0;

}

.hero img{
    display:block;
    margin:auto;
    width: auto;
    height: 100%;
}

.hero h1, .hero h2{
    font-family: "Petit Formal Script", cursive;
    font-weight: 600;
    font-style: bold;
    font-size:5vw;
}

.hero h1{
    position:absolute;
    margin-left: 20vw;
    margin-top: 15vh;
}

.hero h2{
    position:absolute;
    margin-left: 60vw;
    margin-top: 55vh;
}

.bio{
    background-color: #A1A1A1;
    padding: 50px 100px;
}

.bio img{
    border: 10px solid #F0F0F0;
}

.bio th, .bio p{
    border: 50px solid transparent;
}

h3{
    padding: 10px 30px;
    display:inline;
    font-size: xx-large;
    background-color: #F0F0F0;
    border-radius: 30px; 
}

.info{
    padding: 10vh 5vw 0 5vw;
    line-height: 2rem;
    text-align: center;
}

table{
    margin: 10vh 0;
}

.info table{
    margin-top: 10vh;
    border-collapse: collapse;
}

.info th{
    width: 33%;
    padding: 30px 0;
}

.info td, .info th{
    vertical-align: top;
    border: 0px solid white;
    border-width: 0px 2vw;
}


.info h4{
    font-size: x-large;
    display:inline;
    padding: 5px;
    margin-top:500px;
}

.info p{
    text-align: left;
    padding: 1vw;
    margin: 0;
}

.music{
    text-align: center;
    margin: 5%;
}

.music img{
    width: 100%;
    height: auto;
}

.music td{
    width: 33%;
}
